<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/portfolio.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Me</a></li>
            <li><a href="#portfolio">Projects</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact Me</a></li>
        </ul>

    </nav>
    <section id="home">
        <div class="main">
            <h1 class="heading">I am <br>Divya Methwani</h1>
            <button class="btn">Hire Me</button>
        </div>
    </section>
    <h1 class="heading">ABOUT ME</h1>
    <section id="about">
        <div id="pic">
           
            <img src="/static/pimg.jpg" alt="">
            <div id="intro">
                <h2>DIVYA METHWANI</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus iure iusto fugiat esse asperiores, repudiandae eos, reprehenderit eligendi sed voluptates non repellendus assumenda quas a quos perferendis commodi magni atque rem alias consectetur deserunt quae. Sequi id, voluptatum corrupti quas libero delectus quae eveniet quidem dolor quibusdam, facilis ducimus ipsam cum. Atque numquam quam incidunt nam quod tempore optio laboriosam odio. Laborum, natus impedit velit exercitationem magni, recusandae nihil fuga ducimus temporibus eius possimus sit, repellat voluptatem voluptas cumque perspiciatis sunt veniam numquam obcaecati adipisci ipsum aperiam quidem! Ullam culpa id, quisquam ipsam earum iste aspernatur rerum neque quae necessitatibus.</p>
            </div>
        </div>
    </section>
    <section id="portfolio">
        <h1 class="heading">Projects</h1>
        <div class="gallery">
            <a href="/project"><img src="/static/customer satisfaction.png" alt=""></a>
            <a href="/project2"><img src="/static/p2.jpg" alt=""></a>
            <img src="/static/p3.jpg" alt="">
            <img src="/static/p4.jpg" alt="">
            <img src="/static/p5.png" alt="">
            <img src="/static/p6.jpg" alt="">
        </div>

    </section>
    <section id="services">
        <h1 class="heading">SERVICES</h1>
        <div class="row">
            <div class="box">
                <h1 class="heading">Website Designing</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic porro nesciunt numquam! Similique repellendus labore commodi quod optio nulla aliquid expedita possimus? Sunt molestias maiores hic, magni consectetur fugit provident eligendi soluta asperiores ducimus doloribus aperiam ut natus sint. Sed obcaecati eius quod numquam, harum amet alias magni nisi odio asperiores odit quas! Repellendus dignissimos facere ullam voluptatum aut eveniet ad necessitatibus esse, odit officia distinctio quibusdam enim, nisi asperiores recusandae? Accusantium officiis excepturi aliquam corrupti exercitationem eveniet, est accusamus culpa in.</p>
            </div>
            <div class="box">
                <h1 class="heading">Data Science</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic porro nesciunt numquam! Similique repellendus labore commodi quod optio nulla aliquid expedita possimus? Sunt molestias maiores hic, magni consectetur fugit provident eligendi soluta asperiores ducimus doloribus aperiam ut natus sint. Sed obcaecati eius quod numquam, harum amet alias magni nisi odio asperiores odit quas! Repellendus dignissimos facere ullam voluptatum aut eveniet ad necessitatibus esse, odit officia distinctio quibusdam enim, nisi asperiores recusandae? Accusantium officiis excepturi aliquam corrupti exercitationem eveniet, est accusamus culpa in.</p>
            </div>
            <div class="box">
                <h1 class="heading">Data Science</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic porro nesciunt numquam! Similique repellendus labore commodi quod optio nulla aliquid expedita possimus? Sunt molestias maiores hic, magni consectetur fugit provident eligendi soluta asperiores ducimus doloribus aperiam ut natus sint. Sed obcaecati eius quod numquam, harum amet alias magni nisi odio asperiores odit quas! Repellendus dignissimos facere ullam voluptatum aut eveniet ad necessitatibus esse, odit officia distinctio quibusdam enim, nisi asperiores recusandae? Accusantium officiis excepturi aliquam corrupti exercitationem eveniet, est accusamus culpa in.</p>
            </div>
        </div>
    </section>
    <section id="contact">
        <h1 class="headings">CONTACT</h1>
        <form action="" class="form">
            <input type="text" name="name" class="input" placeholder="enter your name">
            <input type="email" name="email" class="input" placeholder="enter your email">
            <textarea name="msg" id="msg" cols="30" rows="10" placeholder="enter your message"></textarea>  
            <input type="submit" value="SEND" id="send">
        </form>
    </section>
    
</body>
</html>